page-gps {
}

#total {
        background-color: white;
        border: 1px solid black;
        bottom: 75%;
        height: 28px;
        padding: 5px;
        position: absolute;
        left: 25px;
        color: red;
        font-weight: bold;
      }
#totalm {
        background-color: yellow;
        border: 1px solid black;
        bottom: 68%;
        height: 28px;
        padding: 8px;
        position: absolute;
        left: 25px;
        font-weight: bold;

      }
#map {
    height: 100%;
    width: 100%;
}



