page-gps {
.ios, .md {

    home-page {

      .scroll {
        height: 100%
      }
}
#total {
        background-color: white;
        border: 1px solid black;
        bottom: 75%;
        height: 28px;
        padding: 25px;
        position: absolute;
        left: 25px;
        color: red;
        font-weight: bold;
      }
#totalm {
        background-color: yellow;
        border: 1px solid black;
        bottom: 71%;
        height: 28px;
        padding: 25px;
        position: absolute;
        left: 25px;

      }
#map {
    height: 100%;
    width: 100%;
}
}

}
