page-editrollup {
ion-select {
    width: 100%;
    max-width:100%;
}
ion-label {
    width:75px;
}
h3{
    color: yellow;
    font-size: 20px;
    font-weight: bold;
}
.input-text {
  font-size: 14px;
    color: red;
}
.item-select {
  color: blue;
}
}
