<!--
  Generated template for the EditrollupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Edit RollUp</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <div align="center"><h3>Edit Your RollUp Detail</h3></div>
    <BR>
 <ion-item class="item-select item-input" >
       <ion-label class="input-text">Course:</ion-label>
     <ion-select [(ngModel)]="selectedClub"><ion-option ng-change="update()" *ngFor="let Club of course" >{{Club.Club}}</ion-option></ion-select>
</ion-item>
    <ion-item class="item-select item-input" >
       <ion-label class="input-text">Day:</ion-label>
     <ion-select [(ngModel)]="selectedDay"><ion-option ng-change="update()" *ngFor="let d of day" >{{d}}</ion-option></ion-select>
</ion-item>
    <ion-item class="item-select item-input" >
       <ion-label class="input-text">Time:</ion-label>
     <ion-select [(ngModel)]="selectedTime"><ion-option ng-change="update()" *ngFor="let t of time " >{{t.TeeTime}}</ion-option></ion-select>
</ion-item>
        <br>
   <button ion-button color="primary" full (click)="subRollup()">Submit Changes</button>
</ion-content>
