page-results {
h3 {
color:yellow;
    }
 .win1 {
color:red;
font-weight:bold;
    }
.win11 {
 color:black;
}
    .win2 {
color:red;
font-weight:bold;
    }
.win22 {
 color:black;
}
    .win3 {
color:red;
font-weight:bold;
    }
.win33 {
 color:black;
}
    .win4 {
color:red;
font-weight:bold;
    }
.win44 {
 color:black;
}

    .win5 {
color:red;
font-weight:bold;
    }
.win55 {
 color:black;
}
    .win6 {
color:red;
font-weight:bold;

    }
.win66 {
 color:black;
}
    ion-content {
   background-color: transparent !important;
    }
}
