page-socaddcourse {



.input-labl {

font-size:16px;
}
table td {
  display: table-cell;
  vertical-align: bottom;
}
    h2 {
font-size:30px;
    }
    h3 {
font-size:22px;
color:yellow;
    }
    .header .col {
    background-color:lightgrey;
    text-align:center;
    width: 16.6%;
	padding: 3px;

}
.header .col1 {
    background-color:lightcoral;
    text-align:center;
    width: 33.3%;
    padding: 3px;

}

.col {
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
    width: 33.3%;
    text-align:center;
	background-color:white;
	padding: 2px;
}
.col1 {
    background-color:lightcoral;
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
    width: 33.3%;
    text-align:center;
	padding: 2px;

}

 .maxwidth
{
    max-width:100%;
}

}


