page-addtime {
    h1 {
    color: yellow;
    }
table {
  border: 1px solid black;
  width: 60%;

    }
tr {
  height: 100px;
  background-color: white;

    }
td {
  height: 95px;
  width:100%;
padding:5px;
    }
select{
 font-size: 60px;

}
     }
