 <ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title align="center"></ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <div align="center"><h1>Select your Tee Time</h1> </div>
    <br>
   <div class="opted"align="center">
    <table>
        <tr><td><select [(ngModel)]="selectedHour"><option class="opt" *ngFor="let h of hour" >{{h}}</option></select></td><td align="center" style="font-size:50px; width:10px">:</td><td><select [(ngModel)]="selectedMin"><option class="opt" *ngFor="let m of min" >{{m}}</option></select></td></tr>
    </table>
 </div><br>
  <div align="center"><button ion-button full (click)="subTime()">SUBMIT</button></div>
</ion-content>
